[run]
branch = True
omit = nose2/tests/*
include = nose2/*

[report]
show_missing = True
skip_covered = True
exclude_lines = pragma: no cover
                raise NotImplementedError
include = nose2/*
omit = nose2/tests/*
