*~
*.pyc
*.pyo
.DS_Store
.nose
*.egg-info
*.bak
*.rej
*$py.class
*.orig
example.cfg
.coverage*
.idea
nosetests.xml
xunit.xml
nose2-junit.xml
_env
docs/_build
htmlcov
cover/*
dist
build
.noseids
.tox
.*.sw[nop]
.dir-locals.el
six-*.egg
.venv-*
