repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v6.0.0
  hooks:
    - id: check-merge-conflict
    - id: check-toml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.2
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
    - id: check-readthedocs
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 26.1.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/PyCQA/isort
  rev: 7.0.0
  hooks:
    - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
    - id: pyupgrade
      args: ["--py37-plus"]
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==25.11.29'
        - 'flake8-comprehensions==3.17.0'
        - 'flake8-typing-as-t==1.1.0'
- repo: https://github.com/sirosen/slyp
  rev: 0.8.2
  hooks:
    - id: slyp
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli
      args:
        - "-L"
        - "assertIn"
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.16.0
  hooks:
    - id: pyproject-fmt
      args: ["--max-supported-python", "3.13"]
      additional_dependencies: ["tox>=4.9"]
