repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.1.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
- repo: https://github.com/sirosen/check-jsonschema
  rev: 0.14.1
  hooks:
    - id: check-github-workflows
- repo: https://github.com/psf/black
  # this is the SHA of the 21.12b0 release, the last with python2 support
  # it is also the last beta release of black
  rev: f1d4e742c91dd5179d742b0db9293c4472b765f8  # frozen: 21.12b0
  hooks:
  - id: black
    language_version: python3
    exclude: ^nose2/_vendor/.*
    additional_dependencies: ["click==8.0.4"]
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies: ['flake8-bugbear==20.11.1']
    exclude: ^nose2/_vendor/.*
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    language_version: python3
    types: [python]
    exclude: ^nose2/_vendor/.*
