include AUTHORS
include requirements.txt
include requirements-py26.txt
include requirements-docs.txt
include tox.ini
include unittest.cfg
include README.rst
include license.txt
graft nose2/tests/functional/support
graft docs
graft bin
