name: test latest on downstream projects
on:
  push:
    branches:
      - main
      # a dedicated branch for working on this workflow
      - downstream-test
  # build weekly at 4:00 AM UTC
  schedule:
    - cron: '0 4 * * 1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - run: python -m pip install tox
      - name: build
        run: make build
      - name: upload latest builds
        uses: actions/upload-artifact@v3
        with:
          name: latest-build
          path: dist/*

  test-mailman:
    strategy:
      matrix:
        pkg-extension: ["whl", "tar.gz"]
    needs: build
    runs-on: ubuntu-latest
    steps:
      - run: git clone "https://gitlab.com/mailman/mailman/" .
      - name: download sdist build
        uses: actions/download-artifact@v4
        with:
          name: latest-build
          path: nose2-build
      # NOTE: be sure to use a python version supported by mailman tests
      # at time of writing, this can be seen in the mailman test matrix:
      # https://gitlab.com/mailman/mailman/-/blob/master/tox.ini
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: python -m pip install tox
      - name: setup testenv
        run: tox -e py-nocov --devenv testenv
      - name: install nose2 latest build
        run: |
          source testenv/bin/activate
          pip install --force-reinstall -v ./nose2-build/*.${{ matrix.pkg-extension }}
      - name: run tests
        run: |
          source testenv/bin/activate
          python -m nose2 -v
